@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
.col-5{
    width: calc(100%/12*5);
}
.col-4{
    width: calc(100%/3);
    display: inline;
    margin-right: 1rem;
}
.col-12{
    width: 100%;
    
}
.col-6{
    width: 50%;
    display: inline;
    margin-right: 20px;
}
.col-3{
    width: 25%;
}
.col-2{
    width: calc(100%/6);
}
.col-8{
    width: calc(100%/3*2);
    display: inline;
}
.tiny-heading{
    font-size: 0.8rem;
    font-weight: 300;
    
}
.nor-heading{
    font-size: 1rem;
    font-weight: bold;
    
}
.big-heading{
    font-size: 1.5rem;
    font-weight: bolder;
}
.lg-5{
    height: 50%;
}
.lg-1{
    height: 10%;
    margin-bottom: 1rem;
}
.lg-1 a{
    font-weight: bold;
}
.nav{
    display: flex;
    justify-content: center;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 1rem 0;
}
.nav a{
    margin-right: 5rem;
    text-decoration: none;
    color: black;
    
}

.hotnews, .category{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
    
    
}
#big-img{
    height: 22.2rem;
}
.main-content{
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    
}

a:hover{
    color: blueviolet;
    cursor: pointer;
}
.banner{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
    border-bottom: 1px solid ;
}
.banner a{
    font-weight: bold;
    margin: 1rem;
    border-right: 3px solid #e5e5e5;
    padding-right: 10px;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 2rem;
}
.hint{
    color: red;
}
.content{
    background-color: #e5e5e5;
}
footer{
    display: flex;  
    justify-content: center;
    margin-top: 2rem;
    border-top: 2px solid;
    
}
footer h2,p{
    font-size: 0.8rem;
    font-weight: 800;
    word-wrap: break-word;
    text-align: left;
    
}
footer div{
    margin-right: 1rem;
}
.wrapper-article{
    display: flex;
    justify-content: center;
    
}
.header{
    display: flex;
    justify-content: space-between;
}
.wrapper-article img{
    height: 30rem;
}
.wrapper-article p{
    font-weight: 500;
    font-size: 1rem;
}
.wrapper-article h2{
    text-align: center;
}
#image{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
}